<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form #signup="ngForm" (ngSubmit)="onsignup(signup)">
            <ng-container ngModelGroup="userInfo">
              <div class="form-group">
                <label for="username">Username*</label>
                <input 
                name="Username"
                ngModel
                #username="ngModel"
                required
                pattern="[a-zA-Z]+"
                type="text" class="form-control" id="username" >
                <ng-container *ngIf="username.invalid" >
                  <span class="text-danger" *ngIf="username.touched && username.hasError('required')">
                    username is required field
                  </span>
                  <span class="text-danger" *ngIf="username.dirty && username.hasError('pattern')">
                    username should not include nums and spech char
                  </span>
                </ng-container>
              </div>
              <div class="form-group">
                <label for="email">Email*</label>
                <input 
                name="Email"
                ngModel
                #email="ngModel"
                required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                type="text" class="form-control" id="email" >
                <ng-container *ngIf="email.invalid">
                  <span class="text-danger" *ngIf="email.touched && email.invalid && email.hasError('required')">
                    email is required field
                  </span>
                  <span class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
                    username should not include nums and spech char
                  </span>
                </ng-container>
              </div>
            </ng-container>
            <div class="form-group">
              <label for="secretQuection">SecretQuection*</label>
              <select
              ngModel
              #secretQuection="ngModel"
              required=""
              name="secretQuection" id="secretQuection" class="form-control">
                <option value="favourateMovies">favourate Movies</option>
                <option value="favouratesport">favourate Sport</option>
              </select>
            </div>
            <div class="form-group">
              <label for="answer">Answer*</label>
              <input 
              ngModel
              #answer="ngModel"
              name="answer"
              type="text" class="form-control" id="answer" >
            </div>
            <div class="form-group">
              <label for="isSubscribed">
                <input 
                ngModel
                #isSubscribed="ngModel"
                type="checkbox" name="isSubscribed">
                subscribe for daily email
              </label>
            </div>
            <div class="form-group" *ngFor="let moc of mocArr">
              <label [for]="moc.contactMode">
                <input type="radio"
                required
                ngModel
                #moc="ngModel"
                name="contactMode"
                [id]="moc.contactMode"
                [value]="moc.contactMode">{{moc.contactMode}}
              </label>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-success mr-3">Sign Up</button>
              <button type="button" class="btn btn-success" (click)="onEdit()">Edit</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>